section {
    width: 100%;
    max-width: 384px;
    background-color: var(--dark-grey);
    padding: 20px 24px 16px;
    margin: 92px auto 20px;
    border-radius: .7em;
}
@media (min-width: 1280px){
    section {
        margin-top: 150px;
        padding: 36px 0 32px;
    }
}

img {
    border-radius: 10em;
    width: 88px;
    margin: 4px auto 24px;
}

button {
    background-color: var(--grey);
    border: none;
    border-radius: .5em;
    color: var(--white);
    width: 100%;
    max-width: 304px;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--inter-font);
    padding: 14px;
    margin: 8px 0;
}
button:hover, button:focus {
    background-color: var(--green);
    color: var(--grey);
    cursor: pointer;
    transition: 355ms;
}
button:active {
    transform: scale(.95);
    transition: 100ms;
}